<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <title>Hello from Flask</title>
</head>
<body>
<main>
    <div class="container" id="logs">
        <div id="logs-content">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#learning">Learning</a></li>
                    <li class="tab col s3"><a href="#disaggregation">Disaggregation</a></li>
                </ul>
            </div>
            <div id="learning" class="col s12">
                <div class="progress hide" id="loading-indicator">
                    <div class="indeterminate"></div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Device name</th>
{#                        <th>Learning indicator</th>#}
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <form action="/devices/new/start-learning" method="post" enctype="multipart/form-data">
                            <td>
                                <div class="input-field col s6">
                                    <input id="device_name" type="text" name="device_name" required>
                                    <label for="device_name">Device name</label>
                                </div>
                            </td>
{#                            <td></td>#}
                            <td>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Start
                                    learning
                                </button>
                            </td>
                        </form>
                    </tr>
                    </thead>
                    <tbody id="devices-table">

                    </tbody>
                </table>
            </div>
            <div id="disaggregation" class="col s12">
                <div class="row">
                    <div class="progress hide" id="loading-indicator1">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <div class="row center">
                            <button class="btn waves-effect waves-light with-margin" onClick="startProgram()">Start
                            </button>
                            <button class="btn waves-effect waves-light with-margin" onClick="stopProgram()">Stop
                            </button>
                            <button class="btn waves-effect waves-light with-margin" onClick="resetProgram()">Reset
                            </button>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <img src="" id="total-power-plot" class="responsive-img"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <img src="" id="disaggregated-power-plot" class="responsive-img"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <img src="" id="legend-figure" class="responsive-img"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <img src="" id="energy-consumption-plot" class="responsive-img"/>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <table>
                            <tbody id="devices-short-table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#    {% if name %}#}
    {#        <h1>Hello {{ name }}!</h1>#}
    {#    {% else %}#}
    {#        <h1>Hello, World!</h1>#}
    {#    {% endif %}#}

</main>
<script>
    loadLogs();
    loadDevices();
    loadPlots();

    setInterval(function () {
        loadLogs();
        loadDevices();
    }, 1000);
    setInterval(function () {
        loadPlots();
    }, 4500);

    const el = document.querySelectorAll('.tabs');
    const instance = M.Tabs.init(el, {});
</script>
</body>
</html>